<oth-card
    *ngIf="analytics"
    [bodyTemplate]="bodyTemplate"
    [footerTemplate]="footerTemplate"
    [headerTemplate]="headerTemplate"
    class="analytics-card">
  <ng-template #headerTemplate>
    <div class="header">
      <div class="upper-header-wrapper">
        <h3>Analytics</h3>
      </div>
      <div class="filters-wrapper">
        <div class="analytics-filter-wrapper">
          <i [class]="'fas fa-search fa-fw'" aria-hidden="true"></i>
          <input #searchArea (keyup)="searchWithUsernameKeyup($event)" placeholder="Username..." type="text">
        </div>
        <div class="category-filter-wrapper">
          <i aria-hidden="true" class="fas fa-bars fa-lg fa-fw"></i>
          <select (change)="changeCategory($event)">
            <option *ngFor="let category of categories" [id]="category.id">
              <ng-container *ngIf="category.messages.length > 0">
                {{ category.messages[ 0 ].text }}
              </ng-container>
            </option>
          </select>
        </div>
        <div class="date-filter-wrapper">
          <i aria-hidden="true" class="fas fa-calendar fa-lg fa-fw"></i>
          <input (change)="changeStartDate($event)" [max]="selectedEndDate | date:'yyyy-MM-dd'"
                 [ngModel]="selectedStartDate | date:'yyyy-MM-dd'"
                 type="date">
          <i aria-hidden="true" class="fas fa-arrow-right fa-lg fa-fw"></i>
          <input (change)="changeEndDate($event)" [max]="currentDate | date:'yyyy-MM-dd'"
                 [min]="selectedStartDate | date:'yyyy-MM-dd'"
                 [ngModel]="selectedEndDate | date:'yyyy-MM-dd'" type="date">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #bodyTemplate>
    <div *ngIf="analytics" class="body">
      <div *ngFor="let analytic of analytics; let last = last; let i = index" class="row">
        <div class="row-info">
          <div class="field-wrapper">
            <img [src]="analytic.payload?.icon ? analytic.payload.icon : './assets/common/activity.png'"
                 alt="activity icon">
            <p class="name">{{ analytic.reporter }}</p>
          </div>
          <div class="field-wrapper">
            <p *ngIf="analytic.category" class="email">{{ analytic.category }}</p>
          </div>
          <div class="field-wrapper">
            <p *ngIf="analytic.source" class="email">{{ analytic.source }}</p>
          </div>
          <div class="field-wrapper">
            <p *ngIf="analytic.source" class="email">{{ timestampToString( analytic.timestamp ) }}</p>
          </div>
        </div>
      </div>
      <p *ngIf="analytics.length === 0" class="empty-body">
        No results found.
      </p>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div *ngIf="meta" class="footer">
      <div>
        {{ analytics.length + ( meta.skip ?? 0 ) }} / {{ meta.count ?? 0 }}
      </div>
      <div class="page-routing-wrapper">
        <i (click)="goToPreviousPage()" [class.active-routing-item]="hasPreviousPage"
           aria-hidden="true" class="fas fa-angle-left"></i>
        <span class="page-count-span">{{ currentPageCount }}</span>
        <i (click)="goToNextPage()" [class.active-routing-item]="hasNextPage" aria-hidden="true"
           class="fas fa-angle-right"></i>
      </div>
    </div>
  </ng-template>
</oth-card>
